.top-collection{
    margin: 30px 80px 0;
}
.top-collection-container {
    max-width: 1600px;
    margin: auto;
    
}
.top-collection--heading {
    display: flex;
    justify-content: space-between;
}
.top-collection--heading-left {
    display: flex;
    position: relative;
    font-size:30px;

}
.top-collection--filter {
    display: flex;
    cursor: pointer;
}
.top-collection--filter h4 {
    margin: 0 10px;
    color: rgb(0, 102, 255);
}

.collection-day--dropdown {
    font-size:16px;
    display: none;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 4, 5);
    border-radius: 8px;
    border: 0px solid rgba(255, 255, 255, 0.1);
    font-weight: normal;
    outline: 0px;
    box-shadow: rgb(4 4 5 / 20%) 0px 7px 36px -8px;
    transition: all 0.12s ease-in-out 0s;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: -30px;
    width: 120px;
    height: auto;
}
.collection--dropdown {
    margin: 10px;
}
.collection-day--dropdown p {
    cursor: pointer;
    width: 100px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.collection-day--dropdown p:hover {
    background:#ccc;
    border-radius: 5px;
}
.collection-dropdown--enable {
    display: flex;
}
.top-collection--heading-right button{
    font-weight: 700;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    cursor: pointer;
    background: transparent;
}
.top-collection--list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
}
.top-collection--item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.top-collection--item p {
    color: rgb(128, 128, 128);
}

.collection--avatar {
    margin: 0 20px;
}
.collection--avatar img {
    width: 50px;
    border-radius: 50px;
}
.collection-item--infor p:first-child{
    font-weight: 900;
    color: rgb(4, 4, 5);
    font-size: 15px;
}