.slider {
    max-width: 1600px;
    display: flex;
    margin: auto;
    margin-top: 30px;

}

.slider--highlight {

}

.slider--highlight-content {
    width: 560px;
    height: 560px;
}
.slider--highlight-content video {
    width: 100%;
}

.slider--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;

}

.slider--item {
    max-width: 270px;
    width: 33.3333%;

    height: 270px;
}
.slider--item video {
    width: 100%;
}
.slider--highlight-content video, .slider--item video {
    border-radius: 15px;
    cursor: pointer;
}